// Variables
//
// Standard variables used for this website.

// Base resets
$container-width: 48rem;
$container-width-em: 48em;
$grid-gutter: 1rem;
$grid-breakpoint: 38em;

// Typography
$font-stack: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-stack-monospace: Menlo, Monaco, "Courier New", monospace;
$font-size-base: 16px;
$line-height-base: 1.5;

// Colors
$text-color-primary: #fff;
$text-color-muted: #999;
$accent-color: #87d874;
$background-color-primary: #ffffff;
$background-color-secondary: darken(#212121, 5%);
$background-color-table-odd: darken(#212121, 1%);
$border-color: $background-color-secondary;
